{% extends "layout.html" %}

{% block content %}
	<h1>Bank Users</h1>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>IBAN</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for bank_user in object_list %}
					<tr>
						<td>{{ bank_user.first_name }}</td>
						<td>{{ bank_user.last_name }}</td>
						<td>{{ bank_user.iban }}</td>
						<td><a href="{% url "bank_user_view" bank_user.id %}">view</a></td>
						{% if bank_user.created_by.id != request.user.id %}
							<td><a href="{% url "bank_user_edit" bank_user.id %}">edit</a></td>
							<td><a href="{% url "bank_user_delete" bank_user.id %}">delete</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="{% url "bank_user_new" %}">New</a>

{% endblock content %}
